<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyfirstApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B378EF4B1D23EFAD0003DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B378EF641D23EFAD0003DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B378EF6F1D23EFAD0003DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
